
<%= form_for(@post, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">

    <%= f.text_field :title %>
    <%= f.text_field :description %>
    <%= f.file_field :picture %><br>
    <%= f.submit "Upload" %>
  </div>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
