<%= form_for @post do |f|%>
<div class="row">
              <div class="small-6  small-offset-3 columns">
              
              <%= image_tag @post.picture.url %>

                <form role="form">
                    <div class="form-group">
                    <%= f.text_field :title, placeholder: "Title"  %>
                    </div>
                    <div class="form-group">
                    <%= f.text_field :description, placeholder: "Description"  %>
                    </div>
                   <div class="form-group">
                   	<%= f.label 'Check if this picture for the main background?' %>
                   	<%= f.check_box :feature %>
                   </div>
            
                        <%= f.submit "Update", class: 'button radius round success expand' %> 
                      

                </form>                     
              </div>
            </div>
          <%= button_to 'Delete Post', @post, method: :delete, class: 'button alert expand', data: { confirm: 'Are you sure?' } %>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>



            