<div class="container">
  <div id="posts" class="row">
<!-- loop through posts -->
    <% @posts.each do |post| %>        
      
        <div class="item medium-4 columns" style="padding:0;">
          <div class="th ">
            <%= image_tag post.picture.url %>

            <div class="hover-description">
                <a href="#" data-reveal-id="myModal">More</a>
                
            </div>
          </div>
        </div>
<!-- reveal modal -->
        <div id="myModal" class="reveal-modal" data-reveal>
                <h2><%= post.title%></h2>
                <%= image_tag post.picture.url %>
                <p><%= link_to "Show", post_path(post)%></p>
                <p><%= link_to 'Destroy', post_path(post), confirm: 'Are you sure?', method: :delete %></p> 
                <a class="close-reveal-modal">&#215;</a>
        </div>
    <% end %>
      
  </div>
</div>

   





    
    <%= link_to "new post", new_post_path %>