<div class="container gallery">
  <div id="posts" class="row">
<!-- loop through posts -->
    <% @allpost.each do |post| %>        
      
        <div class="item medium-4 columns" >
          <div>
            <a href="#" data-reveal-id="<%= "myModal" + post.id.to_s %>"><%= image_tag post.picture.url %></a> 
            
    
                <!-- reveal modal -->
                <div id="<%= "myModal" + post.id.to_s %>" class="reveal-modal small small six centered text-center" data-reveal>
                        <h2><%= post.title%></h2>
                        <%= image_tag post.picture.url(:large) %>
                        <p><%= button_to "Edit", edit_post_path(post), method: :get, class: "button expand"%></p>
                        <a class="close-reveal-modal">&#215;</a>                </div>
                <!-- end reveal -->
            
          </div>
        </div>

    <% end %>
      
  </div>
</div>

   





    
    