 
 <div class="container">
		
			
			<div class="main">
	
				
				<div class="gamma-container gamma-loading" id="gamma-container">

					<ul class="gamma-gallery">
 <% @posts.each do |post| %>
						<li>
							<div data-alt="img03" data-description="<% post.title %>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= post.picture.url(:original) %>" data-min-width="1300"></div>
								<div data-src="<%= post.picture.url(:large) %>" data-min-width="1000"></div>
								<div data-src="<%= post.picture.url(:medium) %>" data-min-width="700"></div>
								<div data-src="<%= post.picture.url(:small) %>" data-min-width="300"></div>
								<div data-src="<%= post.picture.url(:medium) %>"></div>
								<noscript>
									<img src="<%= post.picture.url %>" alt="img03"/>
								</noscript>
							</div>
						</li>
						<% end %>
					</ul>

				

			</div><!--/main-->
		</div>
		

   




    
    <%= link_to "new post", new_post_path %>